
<%= @profiles_scoring %>

<h1 class="x-profiles-found-title">We found X profiles for you!</h1>
<div class="container" id="align-all-div">
  <div class="card-list-border">
    <div class="row">
      <div class="col-8 profile-position">
        <div class="list-avatar inline-div">
          <img alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>
        <div class="list-username inline-div">
          <h3>Theowhat</h3>
          <p>Location: Lille</p>
        </div>
      </div>
      <div class="col-4 position-score">
        <div class="list-score">
          <h4><strong>Score</strong></h4>
          <h4>90%</h4>
        </div>
      </div>
    </div>
    <hr class="list-line">
    <div class="row ">
      <div class="col-8">
        <%# <div class="list-city-name">
          
        </div> %>
        <div class="list-description">
          <h3><strong>Description</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat.</p>
        </div>
      </div>
      <div class="col-4 margin-bottom-goals">
        <div>
          <h3><strong>Goals</strong></h3>
            <p class="inline-div list-circle-goals">Virtual Reality</p>
            <p class="inline-div list-circle-goals">Apps</p>
            <p class="inline-div list-circle-goals">Gadget</p>
            <p class="inline-div list-circle-goals">Biotech</p>
        </div>
        <%# <div>
          <p class="list-button">View Profile</p>
        </div> %>
      </div>
    </div>
  </div>

  <div class="card-list-border">
    <div class="row">
      <div class="col-8 profile-position">
        <div class="list-avatar inline-div">
          <img alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>
        <div class="list-username inline-div">
          <h3>Theowhat</h3>
          <p>Location: Lille</p>
        </div>
      </div>
      <div class="col-4 position-score">
        <div class="list-score">
          <h4><strong>Score</strong></h4>
          <h4>90%</h4>
        </div>
      </div>
    </div>
    <hr class="list-line">
    <div class="row ">
      <div class="col-8">
        <%# <div class="list-city-name">
          
        </div> %>
        <div class="list-description">
          <h3><strong>Description</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat.</p>
        </div>
      </div>
      <div class="col-4 margin-bottom-goals">
        <div>
          <h3><strong>Goals</strong></h3>
            <p class="inline-div list-circle-goals">Virtual Reality</p>
            <p class="inline-div list-circle-goals">Apps</p>
            <p class="inline-div list-circle-goals">Gadget</p>
            <p class="inline-div list-circle-goals">Biotech</p>
        </div>
        <%# <div>
          <p class="list-button">View Profile</p>
        </div> %>
      </div>
    </div>
  </div>

  <div class="card-list-border">
    <div class="row">
      <div class="col-8 profile-position">
        <div class="list-avatar inline-div">
          <img alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>
        <div class="list-username inline-div">
          <h3>Theowhat</h3>
          <p>Location: Lille</p>
        </div>
      </div>
      <div class="col-4 position-score">
        <div class="list-score">
          <h4><strong>Score</strong></h4>
          <h4>90%</h4>
        </div>
      </div>
    </div>
    <hr class="list-line">
    <div class="row ">
      <div class="col-8">
        <%# <div class="list-city-name">
          
        </div> %>
        <div class="list-description">
          <h3><strong>Description</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat.</p>
        </div>
      </div>
      <div class="col-4 margin-bottom-goals">
        <div>
          <h3><strong>Goals</strong></h3>
            <p class="inline-div list-circle-goals">Virtual Reality</p>
            <p class="inline-div list-circle-goals">Apps</p>
            <p class="inline-div list-circle-goals">Gadget</p>
            <p class="inline-div list-circle-goals">Biotech</p>
        </div>
        <%# <div>
          <p class="list-button">View Profile</p>
        </div> %>
      </div>
    </div>
  </div>

  <div class="card-list-border">
    <div class="row">
      <div class="col-8 profile-position">
        <div class="list-avatar inline-div">
          <img alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>
        <div class="list-username inline-div">
          <h3>Theowhat</h3>
          <p>Location: Lille</p>
        </div>
      </div>
      <div class="col-4 position-score">
        <div class="list-score">
          <h4><strong>Score</strong></h4>
          <h4>90%</h4>
        </div>
      </div>
    </div>
    <hr class="list-line">
    <div class="row ">
      <div class="col-8">
        <%# <div class="list-city-name">
          
        </div> %>
        <div class="list-description">
          <h3><strong>Description</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat.</p>
        </div>
      </div>
      <div class="col-4 margin-bottom-goals">
        <div>
          <h3><strong>Goals</strong></h3>
            <p class="inline-div list-circle-goals">Virtual Reality</p>
            <p class="inline-div list-circle-goals">Apps</p>
            <p class="inline-div list-circle-goals">Gadget</p>
            <p class="inline-div list-circle-goals">Biotech</p>
        </div>
        <%# <div>
          <p class="list-button">View Profile</p>
        </div> %>
      </div>
    </div>
  </div>

  <div class="card-list-border">
    <div class="row">
      <div class="col-8 profile-position">
        <div class="list-avatar inline-div">
          <img alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>
        <div class="list-username inline-div">
          <h3>Theowhat</h3>
          <p>Location: Lille</p>
        </div>
      </div>
      <div class="col-4 position-score">
        <div class="list-score">
          <h4><strong>Score</strong></h4>
          <h4>90%</h4>
        </div>
      </div>
    </div>
    <hr class="list-line">
    <div class="row ">
      <div class="col-8">
        <%# <div class="list-city-name">
          
        </div> %>
        <div class="list-description">
          <h3><strong>Description</strong></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat.</p>
        </div>
      </div>
      <div class="col-4 margin-bottom-goals">
        <div>
          <h3><strong>Goals</strong></h3>
            <p class="inline-div list-circle-goals">Virtual Reality</p>
            <p class="inline-div list-circle-goals">Apps</p>
            <p class="inline-div list-circle-goals">Gadget</p>
            <p class="inline-div list-circle-goals">Biotech</p>
        </div>
        <%# <div>
          <p class="list-button">View Profile</p>
        </div> %>
      </div>
    </div>
  </div>

  

</div>
