<div class="container">
  <div class="profile-border">
    <div class="row">
      <div class="col-4">
        <div class="profile-avatar inline-div">
            <img alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>
        <div class="inline-div">
          <h3>Theowhat</h3>
          <p>Location: Lille</p>
        </div>
      </div>
      <div class="col-6">
        <div class="progress profile-border-bar width-bar">
          <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Goals score</div>
        </div>
        <div class="progress profile-border-bar width-bar">
          <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Social score</div>
        </div>
        <div class="progress profile-border-bar width-bar">
          <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Technical score</div>
        </div>
      </div>
      <div class="col-2">
        <div>
          <h4><strong>Score</strong></h4>
          <h4>90%</h4>
        </div>
      </div>
    </div>
    <hr class="profile-list-line">
    <div class="row">
      <div class="col">
        <h2><strong>Technical score details</strong></h2>
        <ul>
          <li><p>Languages in commun: CSS, JS, Python</p></li>
          <li><p>Style: Early developer</p></li>
          <li><p>Languages in commun: CSS, JS, Python</p></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h3><strong>Description</strong></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat.</p>
      </div>
      <div class="col">
        <div>
          <h3><strong>Goals</strong></h3>
            <p class="inline-div list-circle-goals">Virtual Reality</p>
            <p class="inline-div list-circle-goals">Apps</p>
            <p class="inline-div list-circle-goals">Gadget</p>
            <p class="inline-div list-circle-goals">Biotech</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="profile-send-message">
          <button>Send message</button>
        </div>  
      </div>
    </div>
  </div>
</div>