<div class="container">
  <div class="profile-border">
    <div class="row">
      <div class="col-6">
        <div class="profile-avatar inline-div">
            <img alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
        </div>
        <div class="inline-div">
          <h3 class="profile-avatar-name">Theowhat</h3>
          <h5 class="profile-avatar-city"><i class="fas fa-map-marker-alt"></i> Lille</h5>
        </div>
      </div>

      <div class="col-6">
        <div class="list-score-show">
          <h4><strong>90%</strong></h4>
          <p>Overall score</p>
        </div>
      </div>
    </div>
    <hr class="profile-list-line">
    <div class="row">
      <div class="col-12">
        <h2><strong>Technical score details</strong></h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
      
        <div class="cards">
          <div class="card language-charac">Languages</div>
          <div class="card language-charac">Top 3: Ruby, Python and CSS</div>
          <div class="card language-charac progressive-bar">
            <div class="progress-bar">
              <div class="percent" style="width: 80%;">80%</div>
            </div>
          </div>

          <div class="card style-charac">Style</div>
          <div class="card style-charac">Theowhat is an early fucking dev</div>
          <div class="card style-charac progressive-bar">
            <div class="progress-bar">
              <div class="percent" style="width: 80%;">80%</div>
            </div>
          </div>
          <div class="card experience-charac">Experiences</div>
          <div class="card experience-charac">
            <div>Comment est votre blnaquette?</div>
            <div>Comment est votre blnaquette?</div>
            <div>Comment est votre blnaquette?</div>
            <div>Comment est votre blnaquette?</div>
          </div>
          <div class="card experience-charac progressive-bar">
            <div class="progress-bar">
              <div class="percent" style="width: 80%;">80%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="profile-list-line">
    <div class="row">
      <div class="col">
        <h3><strong>Description</strong></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque interdum rutrum sodales. Nullam mattis fermentum libero, non volutpat.</p>
      </div>
      <div class="col">
        <div>
          <h3><strong>Goals</strong></h3>
            <p class="inline-div list-circle-goals">Virtual Reality</p>
            <p class="inline-div list-circle-goals">Apps</p>
            <p class="inline-div list-circle-goals">Gadget</p>
            <p class="inline-div list-circle-goals">Biotech</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div id="profile-send-message">
          <button>Send message</button>
        </div>  
      </div>
    </div>
  </div>
</div>