.sign-up-sign-in-container {
    background-color: white !important;
    margin: 10vh auto;
    height: 100%;
    width: 25%;
    padding: 30px 30px;;
    border-radius: 10px;
    box-shadow: 0px 1px 1px;
}

.card-body {
    padding: 0px;
}

.card{
    background: transparent;
    border-color: transparent;
}

.new-login{
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

.card-title{
    color:black;
    margin-top: 20px;
}

.card-text{
    color:black;
}

.button1 {
    border: solid black 2px;
}

