
<h1 class="picture-title">Let see who you are <i class="far fa-grin-wink"></i></h1>


<div class="container">
  <div class="row margin">
    <div class="col image-size" id="messy-desk"></div>
    <div class="col image-size" id="clean-desk"></div>
  </div>
  <hr class="line">
  <div class="row">
    <div class="col image-size" id="guitar"></div>
    <div class="col image-size" id="concert"></div>
  </div>
  <hr class="line">
  <div class="row">
    <div class="col image-size" id="healthy-food"></div>
    <div class="col image-size" id="fast-food"></div>
  </div>
  <hr class="line">
  <div class="row">
    <div class="col image-size" id="cinema"></div>
    <div class="col image-size" id="netflix"></div>
  </div>
  <div id="center-button-next-pic">
    <%# <button id="image-button">Next</button> %>
    <%= link_to "Next", select_goals_path, class: 'button' %>
  </div>
</div>
