<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1528901166007-3784c7dd3653?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80);">
  <div class="container font-banner">
    <h1><span id="banner-typed-text"></span></h1>
    <% if user_signed_in? == false %>
      <p>Meet buddies that code like you.</p>
      <p> <%= link_to "Join for free", new_user_registration_path, class:"btn btn-flat button" %> </p>
      <p class="banner-login">Already on GoodBuddy? <%= link_to "Login here",  new_user_session_path, class:"banner-login1" %></p> 
    <% else %>
      <p> Welcome back!</p>
      <% if current_user.profile.weighting %>
        <p> <%= link_to "Get my buddies!", profiles_path, class:"btn btn-flat button" %> </p>
      <% else %>
        <p> <%= link_to "Get new buddies!", '/location', class:"btn btn-flat button" %> </p>
      <% end %> 
    <% end %>
  </div>
</div>
