<div class="container background-goals-container">    
    <div class="location-form">
    <div class="goals-title">
        <h1>Where are you?</h1>
    </div>
            <div class="location-form">
                <%= simple_form_for @profile, url: choose_pictures_path, method: "get" do |f| %>
                    <%= f.input :location, label: false, include_blank: false, :input_html => {:style=> 'width: 200px'}, collection: ["Paris", "Marseille", "Lyon", "Toulouse", "Nice", "Nantes", "Montpellier", "Strasbourg", "Bordeaux", "Lille", "Rennes", "Reims", "Saint-Etienne", "Le Havre", "Rouen", "Toulon", "Grenoble", "Dijon", "Angers", "Nîmes", "Le Mans", "Clermont-Ferrand", "Brest", "Tours", "Limoges", "Metz", "Caen"] %>  
                    <%= f.button :submit, 'Next', class:"submit-form-location" %>
                <% end %> 
            </div>
    </div>
</div>