<div class="container">
  <div class="goals-title">
    <h1>{What is the most important for you?}</h1>
  </div>
  
    <div class="goals-list">
      <p>Programming languages</p>
        <div class="d-flex justify-content-center my-2">
      <span class="font-weight-bold indigo-text mr-1 mt-1"></span>
      <form class="range-field w-75">
        <input class="border-0" type="range" min="0" max="2" style="width: 500px;"/>
      </form>
      <span class="font-weight-bold indigo-text ml-2 mt-1"></span>
    </div>
    </div>

    <div class="goals-list">
      <p>Programming style</p>
    <div class="d-flex justify-content-center my-2">
      <span class="font-weight-bold blue-text mr-1 mt-1"></span>
      <form class="range-field w-75">
        <input class="border-0" type="range" min="0" max="2" style="width: 500px;"/>
      </form>
      <span class="font-weight-bold blue-text ml-2 mt-1"></span>
    </div>
    </div>

    <div class="goals-list">
      <p>Programming experience</p>
    <div class="d-flex justify-content-center my-2">
      <span class="font-weight-bold purple-text mr-1 mt-1"></span>
      <form class="range-field w-75">
        <input class="border-0" type="range" min="0" max="2" style="width: 500px;"/>
      </form>
      <span class="font-weight-bold purple-text ml-2 mt-1"></span>
    </div>
    </div>

    <div class="goals-list">
      <p>Social compatibility</p>
    <div class="d-flex justify-content-center my-2">
      <span class="font-weight-bold purple-text mr-1 mt-1"></span>
      <form class="range-field w-75">
        <input class="border-0" type="range" min="0" max="2" style="width: 500px;"/>
      </form>
      <span class="font-weight-bold purple-text ml-2 mt-1"></span>
    </div>
    </div>

    <div id="center-button-next-pic">
      <p> <%= link_to "Next", profiles_path, class:"btn btn-flat button" %> </p>
    </div>

</div>