<div class="container weighting-container">
  <%# TITLE %>
  <div class="goals-title">
    <h2 class="weigthing-title"><strong>What does matter to you?</strong></h2>
  </div>

  <%# FORM - START %>
  <form action="<%= profiles_path  %>" method="GET">
    <input type="hidden" name="id" value="<%=@profile.id%>">

    <%# FIRST CURSOR %>
    <h4 class="cat-title">Programming languages</h4>
    <div class="cards-weighting">
      <div class="card not-important"><i class="far fa-thumbs-down"></i></div>
      <div class="card cursor">
            <input type="range" name="weighting[language]" min="0" max="2" step="0.01" class="border-0">
      </div>
      <div class="card important"><i class="far fa-thumbs-up"></i></div>
    </div>

    <%# SECOND CURSOR %>
    <h4 class="cat-title">Working time</h4>
    <div class="cards-weighting">
      <div class="card not-important"><i class="far fa-thumbs-down"></i></div>
      <div class="card cursor">
        <input type="range" name="weighting[style]" min="0" max="2" step="0.01" class="border-0">
      </div>
      <div class="card important"><i class="far fa-thumbs-up"></i></div>
    </div>

    <%# THIRD CURSOR %>
    <h4 class="cat-title">Programming experience</h4>
    <div class="cards-weighting">
      <div class="card not-important"><i class="far fa-thumbs-down"></i></div>
      <div class="card cursor">
        <input type="range" name="weighting[experience]" min="0" max="2" step="0.01" class="border-0">
      </div>
      <div class="card important"><i class="far fa-thumbs-up"></i></div>
    </div>

    <%# FOURTH CURSOR %>
    <h4 class="cat-title">Social compatibility</h4>
    <div class="cards-weighting">
      <div class="card not-important"><i class="far fa-thumbs-down"></i></div>
      <div class="card cursor">
        <input type="range" name="weighting[social]" min="0" max="2" step="0.01" class="border-0">
      </div>
      <div class="card important"><i class="far fa-thumbs-up"></i></div>
    </div>

    <div class="cards-weighting">
      <div class="card"></div>
      <div class="card"></div>
      <div class="card submit-w">
        <input type="submit" name="commit" value="Next" label="Next" class="submit-form-location" data-disable-with="Next">
      </div>
    </div>
    
    </div>
  </form>
</div>


 