<div class="container">
  <div class="goals-title">
    <h1>{What is the most important for you?}</h1>
  </div>
    <form action="<%= profiles_path  %>" method="GET">
      <input type="hidden" name="id" value="<%=@profile.id%>">
      <input type="range" name="weighting[language]" min="0" max="2" class="border-0" style="width: 500px;">
      <input type="range" name="weighting[style]" min="0" max="2" class="border-0" style="width: 500px;">
      <input type="range" name="weighting[experience]" min="0" max="2" class="border-0" style="width: 500px;">
      <input type="range" name="weighting[social]" min="0" max="2" class="border-0" style="width: 500px;">
      <input type="submit" name="commit" value="Next" label="Next" class="btn submit-goals" data-disable-with="Next">
    </form>
  <hr><hr>
</div>