<div class="container sign-up-sign-in-container">
  <h2 class="new-login">Log In with GitHub</h2>
  <div class="card text-center">
    <div class="card-body">
      <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1920px-Octicons-mark-github.svg.png" width="100" height="100" alt=""> </p>
      <h3 class="card-title">Welcome back !</h3>
      <p class="card-text"> Ready to get <strong> the most relevant matches? </strong> Here we go ! </p>
      <p> <%= link_to "Log In with GitHub", user_github_omniauth_authorize_path, class:"btn btn-flat button button1" %> </p>
    </div>
  </div>
</div>

