.x-profiles-found-title {
  text-align: center;
  margin-top: 20px;
  color: black;
  font-size: 40px;
  font-weight: 600;
}

#align-all-div {
  display: block !important;
  width: 60%;
}

.card-list-border {
  margin-top: 20px;
  border-radius: 10px;
  background: white;
  box-shadow: 0px 1px 1px;
}

.profile-position {
  position: relative;
}

.inline-div {
  display: inline-block;

}

.list-avatar img {
  border-radius: 50%;
  margin: 20px;
  width: 100px;
}

.list-username {
  position: absolute;
  top: 30px;
  
}

.list-username h3 {
  font-size: 30px;
  font-weight: 800;
}

.list-username p {
  font-size: 20px;
}

.position-score {
  position: relative;
  // text-align: center;
  // margin-top: 20px;
  // margin-right: 15px;
}

.list-score {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float:right;

  margin: 20px;

  

  // margin: auto;
  // border-left: 4px solid #3EC8AC;
  // border-right: 4px solid #4E90A4;
  // border-top: 4px solid #3EC8AC;
  // border-bottom: 4px solid #4E90A4;
  // border-radius: 5px;
  // -webkit-box-sizing: border-box;
  // -moz-box-sizing: border-box;
  // box-sizing: border-box;
  // background-position: 0 0, 0 100%;
  // background-repeat: no-repeat;
  // background-image: -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -webkit-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
  // background-image: -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%), -moz-linear-gradient(left, #3EC8AC 0%, #4E90A4 100%);
  color: white;
  background: -webkit-linear-gradient(#3EC8AC, #4E90A4);
  box-shadow: 0 0 3px rgb(100, 100, 100);
}


  .list-score h4 {
  position: relative;
  margin-bottom: 0px !important;
  top: 31px;
  left: 28px;
  font-weight: 700;
}

.list-score p {
  position: relative;
  margin-bottom: 0px !important;
  top: 33px;
  left: 20px;

  font-size: 9px;
  font-weight: 300;
}

.list-circle-goals {
  margin: Opx;
  border: 1px solid black;
  border-radius: 20px;
  padding: 3px 8px;
  font-size: 12px;
  background-color:white;
}

.list-circle-goals-show {
  margin: 6px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 12px;
  background-color: white;
  color: black;
  font-weight: 700;
}

.list-city-name {
  margin: 20px;
}



.list-button {
  border: 1px solid black;
  padding: 3px 8px;
  font-size: 24px;
  border-radius: 10px;
  width: 20vh;
  margin: auto;
  text-align: center;
}

// .margin-bottom-goals {
//   margin-top: 20px;
// }

.list-line {
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.list-description {
  margin: 10px;
  margin-left: 20px;
  padding: 20px;
  min-height: 200px;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 3px;
  box-shadow: 0 0 1px;
}

.list-description h3{
  font-size: 20px;
}

.show-button {
  margin-left:auto;
  margin-right:auto;
  background: -webkit-linear-gradient(#3EC8AC, #4E90A4);
  border: 1.5px solid white;
  color: white;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 300;
  padding: 5px 15px;
}

.goal-description{
  margin: 10px;
  margin-right: 20px;
  padding: 20px;
  min-height: 200px;
  background-color: rgba(100, 100, 100, 0.2);
  border-radius: 3px;
  box-shadow: 0 0 1px;
}

.goal-description-stamps{
  display: flex;
  justify-content: space-around;
}

.goal-description h3{
  font-size: 20px;
}

.show-button:hover {
  background: white;
  border: 1.5px solid #3EC8AC;
  color: #3EC8AC;
}

.btn-show-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px; 
}

.back-to-list {
  width: 100%;
  // display: flex;
  // justify-content: space-between;
  text-align: center;
  padding: 10px; 
  color: black !important;
}