.footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
.footer-links {
  display: flex;
  align-items: center;
  width: 100% !important;
  display: inline-block !important;
  text-align: center;  
}
.footer-links a {
  color: white;
  // opacity: 0.15;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
  width: 100% !important;
  text-align: center !important;
  font-weight: 100;
}
.footer-links a:hover {
  color: #43CEA2;
}
// .footer .fa-heart {
//   color: #D23333;
// }