.background-goals-container {
  background-color: white !important;
  margin: 5vh auto;
  height: 100%;
  width: 50%;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 1px 1px;
}

.goals-title {
  text-align: center;
  color: black;
}
.goals-list {
  text-align: center;
  margin: 20px auto;
  color: white;
  width: 90%;

}

.description-title {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.description-content {
  text-align: center;
  margin-top: 20px;
  color: white;
  border-radius: 10px;
  overflow:auto;
}

.form-control {
  margin: auto;
  width: 100%;
  border-radius: 10px;
}

.goals-unselected {
  border: 0.5px solid black;
  border-radius: 40px;
  font-size: 18px;
  padding: 0 15px;
  margin: 3px 2px;
}

.goals-unselected:hover {
  border: 0.5px solid black;
  border-radius: 40px;
  font-size: 18px;
  padding: 0 15px;
  cursor: pointer;
  
  
}

.goals-selected {
  border: 0.5px solid black;
  border-radius: 40px;
  font-size: 18px;
  padding: 0 15px;
  background-color: #5DCCA2;
}

.submit-goals {
  float:right;
  border: 1.5px solid #5dcca2;
  border-radius: 40px;
  background-color: #5DCCA2;
  color: white;
  font-size: 24px;
  font-weight: 300;
  margin-top: 30px;
  padding: 2px 20px;
  margin-top: 15px;
  font-weight: 700 !important;
}

.submit-goals:hover {
  background-color: #3AB6A1;
  color: white;
  border-color: black;
}

::placeholder {
  font-style: italic;
  font-weight: 100;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3) !important;
}