// Import your components CSS files here.
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  background-image: linear-gradient(to right, #43CEA2 , #185A9D );
}

@import "alert";
@import "navbar";
@import "footer";
@import "banner";
@import "goals";
@import "cards_list";
@import "pictures";
@import "profile";

