.location-form{
// align-content: center;
// margin: auto;
text-align: center;
margin-top: 10vh;
color: white;
}


.submit-form{
  border: 1.5px solid black;
  border-radius: 40px;
  font-size: 24px;
  font-weight: 300;
  padding: 5px 15px;
  margin-top: 30px;
  align-self: center;
}

.submit-form:hover {
    background-color: white;
  }

.button-sumbit-form{
    align-content: center;
}
