.location-form{
// align-content: center;
// margin: auto;
text-align: right;
margin-top: 5vh;
color: white;
}


.submit-form-location{
  border: 1.5px solid black;
  border-radius: 40px;
  font-size: 24px;
  font-weight: 300;
  margin-top: 30px;
  padding: 2px 20px;
  margin-top: 15px;
  font-weight: 700 !important;
}

.submit-form-location:hover {
  background-color: #5DCCA2;
  color: white;
  }