.picture-title {
  margin-top: 50px;
  color: white;
}

.social-description {
  color: white;
  font-size: 25px;
  text-align: center;
  font-family: Lato, Tahoma, Geneva, Verdana, sans-serif;
}

.category-title {
color: white;
font-size: 20px;
text-align: center;
margin: 0px;
font-family: Lato, Tahoma, Geneva, Verdana, sans-serif;
}

.row-margin{
  height: 360px;
}

.line {
  width: 400px;
}



.image-size {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  margin: 40px;
  box-shadow: 0 0 1px;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 0.8;
}

.picture-selected {
  border: 3px solid black;
  opacity: 1;
}

.image-size:hover {
	-webkit-transform: scale(1.01);
	transform: scale(1.01);
}


#dirty {
  background: url("https://images.unsplash.com/photo-1512805668868-1608a189cc2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80") no-repeat;
  background-size: cover;
}

#clean {
  background: url("https://images.unsplash.com/photo-1526040652367-ac003a0475fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat;
  background-size: cover;

}

#rock {
  background: url("https://images.unsplash.com/photo-1421217336522-861978fdf33a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") no-repeat;
  background-size: cover;
}

#house {
  background: url("https://images.unsplash.com/photo-1497911270199-1c552ee64aa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat;
  background-size: cover;
}

#healthy {
  background: url("https://images.unsplash.com/photo-1487067159236-defa938d494d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat;
  background-size: cover;
}

#junk {
  background: url("https://images.unsplash.com/photo-1532022900249-74610fde3038?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80") no-repeat;
  background-size: cover;
}

#cinema {
  background: url("https://images.unsplash.com/photo-1524712245354-2c4e5e7121c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80") no-repeat;
  background-size: cover;
}

#netflix {
  background: url("https://images.unsplash.com/photo-1522869635100-9f4c5e86aa37?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80") no-repeat;
  background-size: cover;
}


#image-button {
  border: 1.5px solid black;
  border-radius: 40px;
  font-size: 24px;
  font-weight: 300;
  padding: 5px 50px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 50px;
  text-align: center;
}

#center-button-next-pic {
  position: relative;
  right: 25px;
  text-align: right;
  
}

.next-button {
  border: 1.5px solid black;
  border-radius: 40px;
  font-size: 24px;
  font-weight: 300;
  padding: 5px 15px;
  margin-top: 30px;
}

.next-button:hover {
  background-color: white;
}